:root {
    --primary-color: #108a10;
    --secondary-color: #79b0b6;
    --background-color: #5910b9;
    --text-color: #b34708;
    --accent-color: #0beeb5;
    --cor-frente: #8c08c9;
    --preto: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, var(--accent-color), var(--background-color));
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

header {
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.menu-label, .nav-links a {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    background: var(--accent-color);
    color: var(--primary-color);
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.menu-label:hover, .nav-links a:hover {
    background: var(--background-color);
    color: var(--secondary-color);
}

.menu-disciplinas {
    display: none;
    position: absolute;
    top: 60px;
    left: 10px;
    background: var(--secondary-color);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.menu-disciplinas a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.menu-disciplinas a:hover {
    background: var(--accent-color);
    color: var(--primary-color);
    border-radius: 5px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.search-bar {
    margin-left: 10px;
}

.search-bar input {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.content {
    margin-top: 50px;
    padding: 125px;
}

.content h1 {
    font-size: 42px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.content h2 {
    font-size: 32px;
    color: var(--secondary-color);
}

#conteudo {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
    color: var(--cor-frente);
    width: 100%;
    text-align: center;
    padding: 10px;
}

#temas {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.tema-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.tema-btn:hover {
    background-color: var(--secondary-color);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 10px;
  }


